.testimonials {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.testimonials__card {
  border-radius: 7px;
  background-color: $dflt-card-color;
  padding: 26px 32px;
  @include box-shadow(40px 45px 52px -26px rgba(0, 0, 0, 0.1));
}

.testimonials__card--doubled-h {
  grid-column-end: span 2;
}

.testimonials__card--doubled-v {
  grid-row-end: span 2;
}

.testimonials__card-author {
  display: flex;
  flex-flow: row;
}

.testimonials__author-photo {
  border-radius: 50%;
  @include square(28px);
}

@each $photo in $author-photos {
  .testimonials__author-photo--#{$photo} {
    background-image: url("../images/image-#{$photo}.jpg");
    background-size: contain;
  }
}
