.wrapper,
.mcontent,
.container,
.page-content {
  height: 100%;
}

.wrapper {
  background-color: $bg-color;
}

.page-content {
  display: flex;
  flex-flow: column;

  justify-content: center;

  font-size: 13px;
}
